@using Mango.Web.Models.Dto;
@model LoginRequestDto

<form method="post">
    <div class="container col-md-6 border p-4">
        <div class="row text-center pb-4">
            <h1>Fazer Login</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 pb-2">
                <input asp-for="Username" type="email" class="form-control" placeholder="Usuario..." />
                <span asp-validation-for="Username" class="text-danger" />
            </div>
            <div class="col-12 col-md-10 pb-2">
                <input asp-for="Password" type="password" class="form-control" placeholder="Senha..." />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
            <div class="col-12 col-md-8 p-2">
                <button type="submit" asp-action="Login" class="form-control btn btn-success" value="Submit">
                    Entrar
                    <i class="bi bi-door-open"></i>
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}