@model int
<div class="text-center">
    
    <h1 class="text-info pt-4">
        Parabéns! Você está a um passo de experimentar as comidas mais incríveis da cidade.
    </h1>
    <p class="pb-3">Nós recebemos o seu pedido, que logo estará pronto a partir de 30 minutos durante os horários comerciais!</p>
    <h4 class="text-warning pb-3">ID do Pedido - @Model</h4> 
    <img src="/images/cook_mango.png" width="30%" height="15%" />
    <p class="text-center p-2">O chef mango cuidará do seu pedido com todo carinho!</p>
</div>