@model List<CouponDto>
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Lista de Cupons</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a class="btn btn-outline-primary" asp-controller="Coupon" asp-action="CouponCreate"><i class="bi bi-plus-square"></i> Criar Novo Cupom</a>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Código do Cupom
					</th>
					<th>
						Quantidade de desconto
					</th>
					<th>
						Quantidade Mínima
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach(var coupon in Model)
				{
					<tr>
						<td>
							@(coupon.CouponCode)
						</td>
						<td>
							@((coupon.DiscountAmount).ToString("c"))
						</td>
						<td>
							@((coupon.MinAmount).ToString("c"))
						</td>
						<td>
							<a asp-action="CouponDelete" asp-route-couponId="@coupon.CouponId" class="btn btn-danger">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>