
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <h1 class="text-white px-2">Lista dos pedidos</h1>
    </div>
    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Nome</th>
                    <th>Data Pedido</th>
                    <th>Pagamento</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/order.js"></script>
}